# logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Environment variables
.env
.env.*
*.local

# OS-specific
.DS_Store
Thumbs.db

# IDE & Editor Configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend - Java/Maven
/backend/target/
*.class
*.jar
*.war
*.ear

# Secrets
/backend/src/main/resources/application.properties

# Frontend - Node/Vite/React
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/coverage/
/frontend/.pnp.*