spring.application.name=your-app-name
spring.datasource.url=jdbc:postgresql://your-db-host:your-db-port/your-db-name
spring.datasource.username=your-db-username
spring.datasource.password=your-db-password
supabase.jwt.secret=your-jwt-secret
supabase.url=your-supabase-url
supabase.service.role.key=your-supabase-service-role-key
google.client.id=your-google-client-id
google.client.secret=your-google-client-secret
app.encryption.key=your-secret-key
app.encryption.key=your-encryption-key
cron.secret-key=your-cron-secret-key